<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.twoactivity">
    <uses-permission android:name="android.permission.INTERNET">
    </uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.twoactivity.AdActivity" />
        <activity android:name="com.example.twoactivity.WorkoutActivity" />
        <activity android:name="com.example.twoactivity.ActivityLegs" />
        <activity android:name="com.example.twoactivity.ActivityWeight" />
        <activity android:name="com.example.twoactivity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.twoactivity.SquatActivity"
            android:theme="@style/AppTheme.CustomTheme"
            ></activity>
        <activity android:name="com.example.twoactivity.PressActivity"
            android:theme="@style/AppTheme.CustomTheme"
            ></activity>
        <activity android:name="com.example.twoactivity.DeadliftActivity"
            android:theme="@style/AppTheme.CustomTheme"
            ></activity>
        <activity android:name="com.example.twoactivity.SearchActivity"
            ></activity>
    </application>

</manifest>